/* Personnalisation de base du ToggleSwitch */
.p-toggleswitch.p-component {
  width: 50px; /* Largeur du ToggleSwitch */
  height: 24px; /* Hauteur du ToggleSwitch */
  border-radius: 9999px; /* Rayon du bord pour un look arrondi */
  background-color: var(--color-background); /* Fond du ToggleSwitch */
  border: 2px solid var(--color-text); /* Bordure du ToggleSwitch */
  position: relative;
  transition: 0.3s ease-in-out; /* Durée de la transition avec un effet fluide */
  overflow: hidden; /* Cache tout excédent en dehors du conteneur */
}

/* Partie cachée de l'input du ToggleSwitch */
.p-toggleswitch-input {
  display: none; /* Cacher l'élément input */
}

/* Slider (cercle qui glisse) */
.p-toggleswitch-slider {
  width: 16px; /* Taille du slider */
  height: 16px; /* Hauteur du slider */
  border-radius: 50%; /* Forme arrondie du slider */
  background-color: var(--color-handle); /* Couleur du slider */
  transition: 0.3s ease-in-out; /* Effet de transition fluide */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px; /* Position initiale à gauche */
}

/* Lorsqu'il est activé */
.p-toggleswitch.p-toggleswitch-checked {
  background-color: var(--color-checked-background); /* Fond activé */
  border-color: var(--color-text); /* Bordure activée */
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  left: 26px; /* Déplace le slider vers la droite quand activé */
  background-color: var(--color-handle); /* Couleur du slider */
  transform: translateY(-50%) scale(1.1); /* Effet de sortie du cercle vers la droite */
}

/* Au survol */
.p-toggleswitch:hover {
  background-color: var(--color-hover-background); /* Fond au survol */
}

.p-toggleswitch.p-toggleswitch-checked:hover {
  background-color: var(--color-checked-background); /* Fond au survol lorsque activé */
}

/* Etat désactivé */
.p-toggleswitch:disabled {
  background-color: var(--color-disabled-background); /* Fond désactivé */
}

.p-toggleswitch:disabled .p-toggleswitch-slider {
  background-color: var(--color-disabled-handle); /* Slider désactivé */
}
