<p-button (click)="showDialog()" class="button-delete" icon="pi pi-trash" severity="danger" />
<p-dialog [(visible)]="visible" [modal]="true" maskStyleClass="backdrop-blur-sm" styleClass="!border-0 !bg-backGround">
  <ng-template #headless>
    <div class="flex flex-col">
      <!-- Header with close button -->
      <div class="flex justify-between items-center mb-6 rounded-t-lg bg-header p-4">
        <h2 class="text-text font-semibold text-xl">
          {{ item[fieldToShow] }}
          @if (fieldToShowTwo) {
            <span> | {{ item[fieldToShowTwo] }}</span>
          }
        </h2>
        <button (click)="closeDialog()" class="text-text text-xl" type="button">
          <span class="pi pi-times"></span>
          <!-- Croix pour fermer -->
        </button>
      </div>

      <!-- Confirmation text -->
      <div class="mb-6">
        <h3 class="text-text text-lg">Êtes-vous sûr de vouloir supprimer ?</h3>
      </div>

      <!-- Action buttons -->
      <div class="flex gap-12 justify-center">
        <!-- Annuler Button -->
        <button (click)="closeDialog()" class="button-cancel-delete px-8 py-3 text-lg rounded-md" type="button">Annuler</button>

        <!-- Supprimer Button -->
        <button (click)="confirmDelete()" class="button-confirm-delete px-8 py-3 text-lg rounded-md" type="button">Supprimer</button>
      </div>
    </div>
  </ng-template>
</p-dialog>
