<div class="flex sm:flex-row gap-x-10 bg-backGround text-text items-center justify-evenly mt-10">
  <form class="flex-1 text-text max-w-md py-8" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="sm:px-6 px-4 mt-5">
      @if (resetSuccess) {
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-6" role="alert">
          <span class="block sm:inline"> Votre mot de passe a été mis à jour avec succès.</span>
          <p class="mt-2">Vous allez être redirigé vers la page de connexion...</p>
        </div>
      } @else {
        <h2 class="font-semibold text-3xl">Bienvenue {{ firstName }} {{ lastName }}</h2>
        <p class="text-text mt-7">Veuillez saisir votre nouveau mot de passe</p>
      }

      <div class="mt-14 grid gap-x-6 gap-y-10 sm:grid-cols-1 max-w-md">
        @for (field of formFields; track field.name) {
          <app-form-field
            [control]="getControl(field.name, field.isNestedInPasswords)"
            [parentFormGroup]="field.isNestedInPasswords ? signUpForm.get('passwords') : null"
            [name]="field.name"
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type || 'text'"
            [isSubmitted]="isSubmitted"
            [isRequired]="field.isRequired"
            [minLength]="field.minLength || 2"
            [serverErrors]="serverErrors"
            [inputClass]="
              'bg-white border border-gray-300 rounded-md p-3 w-full text-gray-900 text-sm leading-5 focus:ring focus:ring-blue-300 outline-none'
            ">
          </app-form-field>
        }
      </div>
    </div>

    <div class="sm:px-6 px-4 mb-8 flex justify-start">
      <app-dark-blue-button customClass="sm:justify-start" type="submit" name="Démarrer"></app-dark-blue-button>
    </div>
  </form>

  <div class="hidden md:flex flex-1 items-center justify-center max-w-2xl">
    <img src="/img/connexion.png" alt="Accueil d'AmbuConnect" class="first-image rounded-lg w-full max-w-2xl" />
  </div>
</div>
