<section class="flex flex-col items-center justify-center gap-2 pt-32">
  <img src="assets/logo.svg" alt="Logo AmbuConnect" width="80px" height="80px" class="logo-svg" />

  <h1 class="text-3xl text-text text-center font-medium">AmbuConnect</h1>
  <header class="flex flex-col items-center w-full pt-15 mt-14">
    <h2 class="text-3xl font-medium mb-3">Not found</h2>
    <h3 class="text-text">Whoops! That page doesn’t exist.</h3>
  </header>
  <app-dark-blue-button customClass="sm:justify-end mt-6" type="button" name="Go to Home" routerLink="/"> </app-dark-blue-button>
</section>
